@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  padding: 0.5rem 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  background-color: #eee;
  font-family: inherit;
}

header button {
  background-color: none;
  color: #aaa;
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 2.2rem;
  border-left: 0.1px solid white;
}

img {
  max-width: 100%;
}

.container {
  background-color: #ffffff;
  width: 400px;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}

.fav-container {
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: rgb(209, 229, 245);
}

.fav-meals {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fav-meals li {
  position: relative;
  width: 75px;
  margin: 5px;
  cursor: pointer;
}

.fav-meals .delete {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  opacity: 0;
  font-size: 1.2rem;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.fav-meals .delete:hover {
  opacity: 1;
}

.fav-meals img {
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.fav-meals li span {
  font-size: 0.9rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  margin: 1.5rem;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(197, 188, 188);
  padding: 0.5rem;
}

.meal-body .fav-btn:hover {
  color: rebeccapurple;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}

.popup-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  max-width: 800px;
  max-height: 100vh;
  width: 100%;
  padding: 0 2rem;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

.popup .popup-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  font-size: 1.5rem;
}

.popup h1 {
  text-align: center;
  padding: 2rem 0;
}

.popup ul {
  list-style-type: none;
  margin: 1rem 0;
}
